<div class="bg-white pulldown">
  <div class="content content-boxed overflow-hidden">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="push-30-t push-50 animated fadeIn">

          <div class="text-center">
            <img src="images/flow/logo.png" class="flowlogo" alt="flow-logo">
            <p class="text-muted push-15-t">Connexion</p>
          </div>

          <form style="margin-bottom: 0px !important;" class="form-horizontal">
            <div ng-repeat="message in messages">
              <div class="alert alert-danger alert-white rounded">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div class="icon"><i class="fa fa-times-circle"></i></div>
                <strong>Erreur!</strong> {{message}}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-xs-12">
                <div class="form-material form-material-primary">
                  <input type="email" placeholder="Email" id="email" class="form-control" ng-model="email">
                  <label for="email">Email</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-xs-12">
                <div class="form-material form-material-primary">
                  <input type="password" placeholder="Mot de passe" id="password" class="form-control" ng-model="password">
                  <label for="password">Mot de passe</label>
                </div>
              </div>
            </div>

            <div class="form-group push-30-t">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button class="btn btn-sm btn-block btn-primary" data-dismiss="modal" ng-click="login()">Se connecter</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
  <div class="font-s12 clearfix">
    <div class="pull-left">
      <a class="font-w600" href="#" target="_blank">Flow Tickets</a> &copy; <span class="js-year-copy"></span>
    </div>
  </div>
</footer>
